# --- Backend (Python) ---
/backend/venv/
/backend/.env
/backend/.config_secret/

# Python cache
**/__pycache__/
*.py[cod]

# --- Frontend (Flutter/Dart) ---
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies

# --- Flutter build output ---
build/*
!build/web/

# Android local config
/android/local.properties

# --- Common ---
.vscode/
.idea/
.DS_Store

# Machine learning pipeline
/ml_pipeline/venv/
